<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>테이블</h1>
	<table border="1">
		<tr>
			<th>username</th>
			<th>age</th>
		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${user.username}">username</td>
			<td th:text="${user.age}">0</td>
		</tr>
	</table>
	
	<h1>반복 상태 유지</h1>
	<table border="1">
		<tr>
			<th>count</th>
			<th>username</th>
			<th>age</th>
			<th>etc</th>
		</tr>
		<!-- 
			userStat : 현재 loop에 대한 상태
			지정한 변수명(user) + Stat = userStat이 기본 변수명, 생략 가능 
		-->
		<tr th:each="user, userStat : ${users}">
			<td th:text="${userStat.count}"></td>
			<td th:text="${user.username}">username</td>
			<td th:text="${user.age}">0</td>
			<td>
				<!-- count : 1부터 시작하는 값  -->
				count = <span th:text="${userStat.count}"></span>
				<!-- index : 0부터 시작하는 값  -->
				index = <span th:text="${userStat.index}"></span>
				<!-- size : 전체 사이즈  -->
				size = <span th:text="${userStat.size}"></span>
				<!-- even, odd : 홀수, 짝수여부 -->
				even? = <span th:text="${userStat.even}"></span>
				odd? = <span th:text="${userStat.odd}"></span>
			</td>
		</tr>
	</table>
</body>
</html>