<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>번호</th>
			<th>성별번호</th>
			<th>이름</th>
			<th>전화번호</th>
			<th>성별</th>
			<th>삼항연산자 성별</th>
		</tr>
		<tr th:each="member : ${member}">
			<td th:text="${member.num}">0</td>
			<td th:text="${member.genderNum}">1</td>
			<td th:text="${member.memberName}">이름</td>
			<td th:text="${member.phoneNum}">010</td>
			<td th:text="'남자'" th:if="${member.genderNum == 1}">성별</td>
			<td th:text="'여자'" th:if="${member.genderNum == 2}">성별</td>
			<td th:text="${member.genderNum}==1?'남자':'여자'">성별</td>
		</tr>
	</table>
</body>
</html>